/*
    _                   _                  
___| |_ _ __ _   _  ___| |_ _   _ _ __ ___ 
/ __| __| '__| | | |/ __| __| | | | '__/ _ \
\__ \ |_| |  | |_| | (__| |_| |_| | | |  __/
|___/\__|_|   \__,_|\___|\__|\__,_|_|  \___|

*/

html {
    height: 100vh;
    background: #1f222e;
    font-size: 14px;
    font-family: "NowAltRegular", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.075ch;
    color: #1f222e;
}

body {
    margin-top: 4px;
    padding: 3rem 4rem;
    padding-bottom: 0;
    background: white;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;

}

#site {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}

.Texte__Image__Article{
    margin : 0.8rem;
    font-size: 0.8rem;
}

.Image__Article {
    width: 100%;
}
/*
.Format_Carre {
    height: 550px;
    overflow-y: auto;
}

.Format_Rectangle {
    height: 225px;
    overflow-y: auto;

}*/


#part-left {
    float: left;
    display: block;
    max-width: 12rem;
    width: 20%;
}

#part-right {
    float: left;
    display: block;
    overflow: hidden;
    width: 80%;
}




#contenu {
    height: 100%;
}

#contenu-defilant {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 32px);
    padding-right: 16px;
    padding-bottom: 5rem;
    justify-content: space-between;
}

.Zone__Colonnes {
    resize: vertical;
    display: flex;
    width: 100%;
}

.colonne {
    flex: 1;
    padding: 2rem;
}

.colonne.left-side{
    padding-left: 0;
}

.colonne.right-side{
    padding-right: 0;
}

.colonne.full {
    padding: 0;
}

.Format_Rectangle {
    height: 17%;

}

.Format_Carre {
    height: 34%;
}

.Format_Rectangle_Full{
    
}

#Zone__citation-accueil{
    width: 97%;
}

#citation-accueil {
    margin: 2rem auto;
    border: 1px solid black;
    /* les "0" sont facultatifs dans "0.5rem" */
    padding: .5rem .75rem;
    border-radius: 21px;
    font-weight: normal;
    font-style: normal;
    font-size: .65rem;
    text-align: center;
    width: max-content ;
    height: max-content;
}


@media screen and (max-width: 1230px) {
    #citation-accueil {
        width: 88% ;
    }
}


/*

                                             _   _           _ 
 _ __ ___   ___ _ __  _   _  __   _____ _ __| |_(_) ___ __ _| |
| '_ ` _ \ / _ \ '_ \| | | | \ \ / / _ \ '__| __| |/ __/ _` | |
| | | | | |  __/ | | | |_| |  \ V /  __/ |  | |_| | (_| (_| | |
|_| |_| |_|\___|_| |_|\__,_|   \_/ \___|_|   \__|_|\___\__,_|_|
                                                               


*/

.Menu {
    width: 120px;
    height: 100%;
}

.Zone__Menu__SousTitre{
    width: 110px;
    font-family: "NowAltBlack", Arial, Helvetica, sans-serif;
}

.Menu__Titre {
    font-size: 0;
}

.Menu__Logo {
    max-width: 10ch;
    margin-bottom: 3rem;
}

.Menu__SousTitre {
    font-weight: 700;
    line-height: 1;
    font-size: 0.85rem;
}

.Menu__SousTitre__decale {
    text-align: right;
    display: inline-flex;
    width: 100%;
}

.Menu__SousTitre__decale span {
    flex: 1;
    display: block;
}

.Menu__Qui-est-ce {
    font-size: 0.6rem;
    margin-top: 3rem;
    font-weight: 700;
}

.Menu__Contact {
    color: white;
    background: #1f222e;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    padding: .5rem .75rem;
    font-weight: 700;
}


.Menu__Contact__mail {
    
}

.Menu__pictos {
    display: flex;
}

.Menu__picto {
    margin-right: .4rem;
    max-width: 1.2rem;
}


/*

            _   _      _    
  __ _ _ __| |_(_) ___| | ___ 
 / _` | '__| __| |/ __| |/ _ \
| (_| | |  | |_| | (__| |  __/
 \__,_|_|   \__|_|\___|_|\___|
                            

*/
.contenu-article {
    text-transform: none;
}

.contenu-article p {
    color: red;
}

.contenu-article h3 {
    margin: 1rem;
}




@media screen and (max-width: 768px) {
    .Zone__Colonnes {
        display: block;
    }

    .colonne.left-side, .colonne.right-side {
        width: 100%;
        padding : 0 0 0 0 ;
    }
/*
    #part-left, #part-right {

    }*/

    #part-left {
        display: none;
    }

    #part-right {
        width: 100%;
    }

    body {
        padding : 0;
    }
    
    #site {
        width: 95%;
    }
    

    #citation-accueil {
        width:78%;
        line-height: 1.6;
        padding-top: 0.7rem;
    }
    

}

